<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://cxf.apache.org/jaxws 
	http://cxf.apache.org/schemas/jaxws.xsd">
	<!--初始化cxf的环境  -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	<!-- 配置cxf客户端 -->
	<!-- id:桩的实例bean名字 -->
	<jaxws:client id="customerService" address="http://localhost:8888/mavencrm25/ws/CustomerWS" serviceClass="cn.itcast.bos.dao.ws.stub.CustomerService">
	  	<!-- 日志拦截器 -->
		  <jaxws:inInterceptors>
				<ref bean="loggingInInterceptor"/>
			</jaxws:inInterceptors>
			<jaxws:outInterceptors>
				<ref bean="loggingOutInterceptor"/>
			</jaxws:outInterceptors>
	 </jaxws:client>
	
	
	<!-- 实例化日志拦截器 -->
	<bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
	<bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
	
	
</beans>